@import '../common.scss';
.Wrap{
  display: flex;
  .bodyWrap{
    flex: 5;
    width: 100%;
    background-color: white;
    padding: 30px 50px;
    border-radius: 20px;
    margin-right: 15px;
    h2{
      font-size: 20px;
      margin-bottom: 25px;
    }
    .inputWrap{
      .row{
        align-items: center;
        margin: 16px 0;
        >div{
          &:first-child{
            
            .tooltip{
              cursor: pointer;
              color: #999;
              margin-left: 5px;
            }
          }
          &:last-child{
            ol{
              li{
                font-weight: bold;
                margin-bottom: 80px;
                img{
                  max-width: 100%;
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}