/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch input:checked + .slider, 
  .switch input:checked + .form_group {
    background-color: #FF5670;
  }
  
  .switch input:focus + .slider {
    // box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider {
    border-radius: 34px;
  }
  
  .slider:before {
    border-radius: 50%;
  }

  .saveButton{
    button{
      outline: none;
      border: none;
      border-radius: 200px;
      font-weight: bold;
      font-size: 15px;
      padding: 15px 30px;
      cursor: pointer;
      &:first-child{
        background-image: linear-gradient( #FF5670, #FC3A58);
        color: white;
        margin-right: 20px;
        border: 1px solid #FC3A58;
      }
      &:first-child:hover{
        color: #FC3A58;
        background-color: transparent;
        background-image: unset;
      }
      &:last-child{
        color: #1B1B3C;
        background-color: transparent;
        border: 1px solid #1B1B3C;
        opacity: 0.45;
      }
      &:last-child:hover{
        opacity: 1;
      }
    }
  }


  .mt0{margin-top: 0rem;}
  .mt1{margin-top: 1rem;}
  .mt2{margin-top: 2rem;}
  .mt3{margin-top: 3rem;}
  .mt4{margin-top: 4rem;}
  .mt5{margin-top: 5rem;}



  .mb0{margin-bottom: 0rem;}
  .mb1{margin-bottom: 1rem;}
  .mb2{margin-bottom: 2rem;}
  .mb3{margin-bottom: 3rem;}
  .mb4{margin-bottom: 4rem;}
  .mb5{margin-bottom: 5rem;}

  span.tooltip:global(.dashicons){
    color: #999;
    margin-left: 5px;
    cursor: pointer;
  }
