.acotrs_loader7WIwr {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px; }
  .acotrs_loader7WIwr .acotrs_icon2g4Sh {
    width: 100px;
    height: 100px;
    display: block;
    background-image: url(./../images/loading.svg);
    background-repeat: no-repeat;
    background-size: cover; }

/* The switch - the box around the slider */
.acotrs_switch38FbT {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.acotrs_switch38FbT input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.acotrs_slidercSLaO {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.acotrs_slidercSLaO:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

.acotrs_switch38FbT input:checked + .acotrs_slidercSLaO,
.acotrs_switch38FbT input:checked + .acotrs_form_group1Bd7E {
  background-color: #006FFF; }

input:checked + .acotrs_slidercSLaO:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.acotrs_slidercSLaO {
  border-radius: 34px; }

.acotrs_slidercSLaO:before {
  border-radius: 50%; }

.acotrs_saveButton24dKo button {
  outline: none;
  border: none;
  border-radius: 200px;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 30px;
  cursor: pointer; }
  .acotrs_saveButton24dKo button:first-child {
    background-image: linear-gradient(#FF5670, #FC3A58);
    color: white;
    margin-right: 20px;
    border: 1px solid #FC3A58; }
  .acotrs_saveButton24dKo button:first-child:hover {
    color: #FC3A58;
    background-color: transparent;
    background-image: unset; }
  .acotrs_saveButton24dKo button:last-child {
    color: #1B1B3C;
    background-color: transparent;
    border: 1px solid #1B1B3C;
    opacity: 0.45; }
  .acotrs_saveButton24dKo button:last-child:hover {
    opacity: 1; }

.acotrs_mt0q35oH {
  margin-top: 0rem; }

.acotrs_mt1240_s {
  margin-top: 1rem; }

.acotrs_mt238mJY {
  margin-top: 2rem; }

.acotrs_mt31WF8Q {
  margin-top: 3rem; }

.acotrs_mt42MWAp {
  margin-top: 4rem; }

.acotrs_mt52sScj {
  margin-top: 5rem; }

.acotrs_mb0Ocbny {
  margin-bottom: 0rem; }

.acotrs_mb1oJL97 {
  margin-bottom: 1rem; }

.acotrs_mb217sd6 {
  margin-bottom: 2rem; }

.acotrs_mb3cIikR {
  margin-bottom: 3rem; }

.acotrs_mb43S5q5 {
  margin-bottom: 4rem; }

.acotrs_mb51CQ5R {
  margin-bottom: 5rem; }

span.acotrs_tooltip1Unl7.dashicons {
  color: #999;
  margin-left: 5px;
  cursor: pointer; }

.acotrs_saveBtn8B4Z2::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  z-index: 0;
  transition: 0.1s; }

.acotrs_saveBtn8B4Z2 {
  position: relative;
  color: white;
  background-color: #006FFF;
  box-shadow: 1px 1px 0.5em #999;
  -o-box-shadow: 1px 1px 0.5em #999;
  -webkit-box-shadow: 1px 1px 0.5em #999;
  -moz-box-shadow: 1px 1px 0.5em #999;
  border-radius: 100px;
  border-width: 0;
  padding: 10px 40px;
  font-size: 15px;
  cursor: pointer;
  overflow: hidden;
  margin-top: 50px; }
  .acotrs_saveBtn8B4Z2:hover::after {
    left: 0%; }
  .acotrs_saveBtn8B4Z2 span {
    z-index: 1;
    position: relative; }

.acotrs_generalWrap-WHYK {
  display: flex; }
  .acotrs_generalWrap-WHYK .acotrs_bodyWrap11G67 {
    flex: 5;
    width: 100%;
    background-color: white;
    padding: 30px 50px;
    border-radius: 20px;
    margin-right: 15px; }
    .acotrs_generalWrap-WHYK .acotrs_bodyWrap11G67 h2 {
      font-size: 20px;
      margin-bottom: 25px; }
    .acotrs_generalWrap-WHYK .acotrs_bodyWrap11G67 .acotrs_tooltip1Unl7 {
      cursor: pointer; }
    .acotrs_generalWrap-WHYK .acotrs_bodyWrap11G67 > div {
      display: flex;
      align-items: center;
      margin: 20px 0; }
      .acotrs_generalWrap-WHYK .acotrs_bodyWrap11G67 > div article {
        font-size: 14px;
        color: #555; }
        .acotrs_generalWrap-WHYK .acotrs_bodyWrap11G67 > div article span.dashicons {
          color: #999;
          margin-left: 5px; }
      .acotrs_generalWrap-WHYK .acotrs_bodyWrap11G67 > div > div {
        margin-left: auto; }
        .acotrs_generalWrap-WHYK .acotrs_bodyWrap11G67 > div > div select {
          border-color: #eee; }
      .acotrs_generalWrap-WHYK .acotrs_bodyWrap11G67 > div label {
        margin-left: auto; }
  .acotrs_generalWrap-WHYK .acotrs_promo1Z72F {
    flex: 2; }
    .acotrs_generalWrap-WHYK .acotrs_promo1Z72F > div {
      background-repeat: no-repeat;
      background-position: top left;
      background-size: cover;
      padding: 30px 40px;
      margin-top: 50px;
      min-height: 760px; }
      .acotrs_generalWrap-WHYK .acotrs_promo1Z72F > div > div h2 {
        color: white;
        font-size: 25px;
        line-height: 40px;
        margin-top: 0;
        font-weight: bold; }
      .acotrs_generalWrap-WHYK .acotrs_promo1Z72F > div > div ul li {
        position: relative;
        padding-left: 28px;
        color: white;
        opacity: 0.7;
        margin: 30px 0;
        font-size: 16px; }
        .acotrs_generalWrap-WHYK .acotrs_promo1Z72F > div > div ul li:before {
          content: '';
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: cover;
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          left: 0;
          top: 3px; }
      .acotrs_generalWrap-WHYK .acotrs_promo1Z72F > div > div a {
        text-decoration: none;
        text-align: center;
        color: #DE2582;
        background-color: white;
        border-radius: 100px;
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative; }

.acotrs_form_groupKjEn2 {
  display: flex;
  align-items: center; }
  .acotrs_form_groupKjEn2 label {
    flex: 0 0 40%; }
  .acotrs_form_groupKjEn2 input[type="text"], .acotrs_form_groupKjEn2 input[type="number"], .acotrs_form_groupKjEn2 input[type="email"], .acotrs_form_groupKjEn2 textarea {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background: #FAFCFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #1B2733; }
    .acotrs_form_groupKjEn2 input[type="text"]:focus, .acotrs_form_groupKjEn2 input[type="number"]:focus, .acotrs_form_groupKjEn2 input[type="email"]:focus, .acotrs_form_groupKjEn2 textarea:focus {
      border-color: #006AFF;
      box-shadow: none;
      outline: none; }
  .acotrs_form_groupKjEn2 label + input[type="text"], .acotrs_form_groupKjEn2 label + textarea, .acotrs_form_groupKjEn2 label + input[type="number"], .acotrs_form_groupKjEn2 label + input[type="email"] {
    flex: 0 0 42.61%; }
  .acotrs_form_groupKjEn2 input[type="text"], .acotrs_form_groupKjEn2 input[type="number"], .acotrs_form_groupKjEn2 input[type="email"] {
    height: 40px; }
  .acotrs_form_groupKjEn2 textarea {
    height: 94px;
    padding-top: 15px;
    padding-bottom: 15px; }

/* The switch - the box around the slider */
.acotrs_switch2fqXB {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.acotrs_switch2fqXB input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.acotrs_slider3kvAo {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.acotrs_slider3kvAo:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

.acotrs_switch2fqXB input:checked + .acotrs_slider3kvAo,
.acotrs_switch2fqXB input:checked + .acotrs_form_groupRJCzS {
  background-color: #006FFF; }

input:checked + .acotrs_slider3kvAo:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.acotrs_slider3kvAo {
  border-radius: 34px; }

.acotrs_slider3kvAo:before {
  border-radius: 50%; }

.acotrs_saveButtonHN4jP button {
  outline: none;
  border: none;
  border-radius: 200px;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 30px;
  cursor: pointer; }
  .acotrs_saveButtonHN4jP button:first-child {
    background-image: linear-gradient(#FF5670, #FC3A58);
    color: white;
    margin-right: 20px;
    border: 1px solid #FC3A58; }
  .acotrs_saveButtonHN4jP button:first-child:hover {
    color: #FC3A58;
    background-color: transparent;
    background-image: unset; }
  .acotrs_saveButtonHN4jP button:last-child {
    color: #1B1B3C;
    background-color: transparent;
    border: 1px solid #1B1B3C;
    opacity: 0.45; }
  .acotrs_saveButtonHN4jP button:last-child:hover {
    opacity: 1; }

.acotrs_mt020ZJ6 {
  margin-top: 0rem; }

.acotrs_mt12P-MY {
  margin-top: 1rem; }

.acotrs_mt21cQoy {
  margin-top: 2rem; }

.acotrs_mt37SeWq {
  margin-top: 3rem; }

.acotrs_mt42gq_6 {
  margin-top: 4rem; }

.acotrs_mt51JyPL {
  margin-top: 5rem; }

.acotrs_mb0ZQYpC {
  margin-bottom: 0rem; }

.acotrs_mb13Yzvm {
  margin-bottom: 1rem; }

.acotrs_mb21fAOY {
  margin-bottom: 2rem; }

.acotrs_mb313fq0 {
  margin-bottom: 3rem; }

.acotrs_mb41D0Ry {
  margin-bottom: 4rem; }

.acotrs_mb51nliH {
  margin-bottom: 5rem; }

span.acotrs_tooltip2cn_x.dashicons {
  color: #999;
  margin-left: 5px;
  cursor: pointer; }

.acotrs_saveBtn24DFt::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  z-index: 0;
  transition: 0.1s; }

.acotrs_saveBtn24DFt {
  position: relative;
  color: white;
  background-color: #006FFF;
  box-shadow: 1px 1px 0.5em #999;
  -o-box-shadow: 1px 1px 0.5em #999;
  -webkit-box-shadow: 1px 1px 0.5em #999;
  -moz-box-shadow: 1px 1px 0.5em #999;
  border-radius: 100px;
  border-width: 0;
  padding: 10px 40px;
  font-size: 15px;
  cursor: pointer;
  overflow: hidden;
  margin-top: 50px; }
  .acotrs_saveBtn24DFt:hover::after {
    left: 0%; }
  .acotrs_saveBtn24DFt span {
    z-index: 1;
    position: relative; }

.acotrs_Wrap23E_H {
  display: flex; }
  .acotrs_Wrap23E_H .acotrs_bodyWrap26SUI {
    flex: 5;
    width: 100%;
    background-color: white;
    padding: 30px 50px;
    border-radius: 20px;
    margin-right: 15px; }
    .acotrs_Wrap23E_H .acotrs_bodyWrap26SUI h2 {
      font-size: 20px;
      margin-bottom: 25px; }
    .acotrs_Wrap23E_H .acotrs_bodyWrap26SUI .acotrs_inputWrap1fRrz .acotrs_row3BPqF {
      display: flex;
      align-items: center;
      margin: 16px 0; }
      .acotrs_Wrap23E_H .acotrs_bodyWrap26SUI .acotrs_inputWrap1fRrz .acotrs_row3BPqF > div:first-child {
        flex: 1; }
        .acotrs_Wrap23E_H .acotrs_bodyWrap26SUI .acotrs_inputWrap1fRrz .acotrs_row3BPqF > div:first-child .acotrs_tooltip2cn_x {
          cursor: pointer;
          color: #999;
          margin-left: 5px; }
      .acotrs_Wrap23E_H .acotrs_bodyWrap26SUI .acotrs_inputWrap1fRrz .acotrs_row3BPqF > div:last-child {
        flex: 3; }

.acotrs_wrapohVov {
  background-color: #EEF3F7;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 20px; }
  .acotrs_wrapohVov ul {
    margin: 10px 0; }
    .acotrs_wrapohVov ul li {
      display: inline-flex;
      margin: 0 6px; }
      .acotrs_wrapohVov ul li > a {
        padding: 15px 25px;
        text-decoration: none;
        border-radius: 10px;
        font-size: 16px;
        display: inline-flex;
        align-items: center; }
        .acotrs_wrapohVov ul li > a:focus {
          color: white; }
        .acotrs_wrapohVov ul li > a:hover {
          color: white;
          background-color: #006FFF;
          box-shadow: 1px 1px 0.5em #999;
          -o-box-shadow: 1px 1px 0.5em #999;
          -webkit-box-shadow: 1px 1px 0.5em #999;
          -moz-box-shadow: 1px 1px 0.5em #999; }
        .acotrs_wrapohVov ul li > a.acotrs_active2UBE8 {
          color: white;
          background-color: #006FFF;
          box-shadow: 1px 1px 0.5em #999;
          -o-box-shadow: 1px 1px 0.5em #999;
          -webkit-box-shadow: 1px 1px 0.5em #999;
          -moz-box-shadow: 1px 1px 0.5em #999; }
        .acotrs_wrapohVov ul li > a > span.acotrs_icon18alf {
          font-size: 35px;
          margin-right: 5px; }

/* The switch - the box around the slider */
.acotrs_switchpiP0k {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.acotrs_switchpiP0k input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.acotrs_slider2wscV {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.acotrs_slider2wscV:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

.acotrs_switchpiP0k input:checked + .acotrs_slider2wscV,
.acotrs_switchpiP0k input:checked + .acotrs_form_grouppSBYd {
  background-color: #006FFF; }

input:checked + .acotrs_slider2wscV:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.acotrs_slider2wscV {
  border-radius: 34px; }

.acotrs_slider2wscV:before {
  border-radius: 50%; }

.acotrs_saveButton1aQ8C button {
  outline: none;
  border: none;
  border-radius: 200px;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 30px;
  cursor: pointer; }
  .acotrs_saveButton1aQ8C button:first-child {
    background-image: linear-gradient(#FF5670, #FC3A58);
    color: white;
    margin-right: 20px;
    border: 1px solid #FC3A58; }
  .acotrs_saveButton1aQ8C button:first-child:hover {
    color: #FC3A58;
    background-color: transparent;
    background-image: unset; }
  .acotrs_saveButton1aQ8C button:last-child {
    color: #1B1B3C;
    background-color: transparent;
    border: 1px solid #1B1B3C;
    opacity: 0.45; }
  .acotrs_saveButton1aQ8C button:last-child:hover {
    opacity: 1; }

.acotrs_mt01DzRt {
  margin-top: 0rem; }

.acotrs_mt1hmG9p {
  margin-top: 1rem; }

.acotrs_mt22kIab {
  margin-top: 2rem; }

.acotrs_mt32l4Zk {
  margin-top: 3rem; }

.acotrs_mt43-i70 {
  margin-top: 4rem; }

.acotrs_mt53WVKn {
  margin-top: 5rem; }

.acotrs_mb01cb2Z {
  margin-bottom: 0rem; }

.acotrs_mb12OTE5 {
  margin-bottom: 1rem; }

.acotrs_mb2207L6 {
  margin-bottom: 2rem; }

.acotrs_mb311tf- {
  margin-bottom: 3rem; }

.acotrs_mb41cvfV {
  margin-bottom: 4rem; }

.acotrs_mb53oAIj {
  margin-bottom: 5rem; }

span.acotrs_tooltip2hYeQ.dashicons {
  color: #999;
  margin-left: 5px;
  cursor: pointer; }

.acotrs_saveBtniWiaC::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  z-index: 0;
  transition: 0.1s; }

.acotrs_saveBtniWiaC {
  position: relative;
  color: white;
  background-color: #006FFF;
  box-shadow: 1px 1px 0.5em #999;
  -o-box-shadow: 1px 1px 0.5em #999;
  -webkit-box-shadow: 1px 1px 0.5em #999;
  -moz-box-shadow: 1px 1px 0.5em #999;
  border-radius: 100px;
  border-width: 0;
  padding: 10px 40px;
  font-size: 15px;
  cursor: pointer;
  overflow: hidden;
  margin-top: 50px; }
  .acotrs_saveBtniWiaC:hover::after {
    left: 0%; }
  .acotrs_saveBtniWiaC span {
    z-index: 1;
    position: relative; }

.acotrs_Wrap2rwCZ {
  display: flex; }
  .acotrs_Wrap2rwCZ .acotrs_bodyWrap2CtYe {
    flex: 5;
    width: 100%;
    background-color: white;
    padding: 30px 50px;
    border-radius: 20px;
    margin-right: 15px; }
    .acotrs_Wrap2rwCZ .acotrs_bodyWrap2CtYe h2 {
      font-size: 20px;
      margin-bottom: 25px; }
    .acotrs_Wrap2rwCZ .acotrs_bodyWrap2CtYe .acotrs_inputWrap3AoQ- .acotrs_row3QEhC {
      align-items: center;
      margin: 16px 0; }
      .acotrs_Wrap2rwCZ .acotrs_bodyWrap2CtYe .acotrs_inputWrap3AoQ- .acotrs_row3QEhC > div:first-child .acotrs_tooltip2hYeQ {
        cursor: pointer;
        color: #999;
        margin-left: 5px; }

#lms_conversition_ui_root {
  padding-right: 10px;
  max-width: 1200px; }
  #lms_conversition_ui_root * {
    box-sizing: border-box; }
  #lms_conversition_ui_root .acotrs_lmsWrap1rvy0 .acotrs_headerlc2p1 {
    display: flex; }
    #lms_conversition_ui_root .acotrs_lmsWrap1rvy0 .acotrs_headerlc2p1 > div {
      flex: 1;
      justify-content: center; }
      #lms_conversition_ui_root .acotrs_lmsWrap1rvy0 .acotrs_headerlc2p1 > div h2 span {
        border-bottom: 1px solid #bbb;
        min-width: 50%;
        display: inline-block;
        padding-bottom: 10px;
        color: #000;
        font-size: 22px; }
      #lms_conversition_ui_root .acotrs_lmsWrap1rvy0 .acotrs_headerlc2p1 > div:last-child {
        text-align: right;
        opacity: 0; }
  #lms_conversition_ui_root .acotrs_lmsWrap1rvy0 .acotrs_lmsBody3UG8F {
    background-color: white;
    border-radius: 10px;
    padding: 20px; }


/*# sourceMappingURL=backend.css.map*/