:global(body.logged-in.admin-bar){
    .chatWrap{
        .chatWindow{
            top: 32px;
        }    
    }    
}

.chatWrap{
    .chatIcon{
        position: fixed;
        right: 10px;
        bottom: 15px;
        max-width: 65px;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
    .chatWindow{
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 999;
        .chatBody{
            width: 100%;
            display: flex;
            height: 100%;
            >div{
                &:first-child{
                    flex: 1;
                    background-color: #373759;
                    >ul{
                        list-style: none;
                        margin: 0;
                        >li{
                            justify-content: center;
                            align-items: center;
                            padding: 25px;
                            cursor: pointer;
                            >span{
                                background-image: url(icons/inbox-gray.svg);
                                width: 50px;
                                height: 50px;
                                overflow: hidden;
                                position: relative;
                                background-position: center;
                                background-size: contain;
                                display: flex;
                                margin: 0 auto;
                                background-repeat: no-repeat;
                            }
                            &:hover{
                                background-color: #6c89f4;
                                >span{
                                    background-image: url(icons/inbox-white.svg);    
                                }
                            }
                        }
                    }
                }
                &:nth-child(2){
                    background-color: #fff;
                    flex: 3;
                    box-shadow: 5px 0px 0.5em rgba(0, 0, 0, 0.1);
                    position: relative;
                    >div{
                      
                    }
                }
                &:last-child{
                    flex: 10;
                    background-color: #f6f6fc;
                }
            }
        }
    }

}

