@media only screen and (min-width: 412px) {
    :global(body.logged-in.admin-bar){
        .chatWrap{
            .chatWindow{
                &:global(.active){
                    top: 32px;
                }
            }    
        }    
    } 
}



:global(div#lms_conversition_chat_ui){
    overflow: hidden;
    z-index: 9999;
    position: relative;
}

.chatWrap{
    .chatIcon{
        position: fixed;
        right: 10px;
        bottom: 15px;
        max-width: 65px;
        min-width: 60px;
        max-height: 65px;
        min-height: 60px;
        height: 60px;
        cursor: pointer;
        span{
            background-image: url(./icons/chat.svg);
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            background-color: transparent;
            display: block;
        }
    }
    .chatWindow{
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 100%;
        transition: top 0.3s;
        -moz-transition: top 0.3s;
        -o-transition: top 0.3s;
        -webkit-transition: top 0.3s;
        &:global(.active){
            top: 0%;
            z-index: 999;
        }
        .chatBody{
            width: 100%;
            display: flex;
            height: 100%;
            &.collospe{
                >div{
                    &.profileInfoWrap{
                        max-width: 0;
                        -webkit-transition: -webkit-transform .8s ease-in-out;
                        -ms-transition: -ms-transform .8s ease-in-out;
                        transition: transform .8s ease-in-out;  
                    }
                    &.listWrap{
                        max-width: 0;
                        -webkit-transition: -webkit-transform .8s ease-in-out;
                        -ms-transition: -ms-transform .8s ease-in-out;
                        transition: transform .8s ease-in-out;  
                    }
                    &.bodyWrap{
                        .topHeader{
                            >div{
                                &.clospe{
                                    span{
                                        &.collspeBtn{
                                            transform:rotate(180deg);
                                            -ms-transform:rotate(180deg);
                                            -webkit-transform:rotate(180deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            >div{
                .profileInfo{
                    color: white;
                    text-align: center;
                    padding: 15px;
                    .profileImg{
                        width: 70px;
                        height: 70px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        border-radius: 100px;
                        margin: 10px auto;
                    }
                    h4{
                        color: #ccc;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 18px;
                        text-transform: capitalize;
                        margin: 0;
                    }
                    p{
                        color: #cccccc78;
                        margin-top: 0;
                        text-transform: capitalize;
                    }
                }
                &:first-child{
                    flex: 1;
                    background-color: #373759;
                    >ul{
                        list-style: none;
                        margin: 0;
                        >li{
                            justify-content: center;
                            align-items: center;
                            padding: 25px;
                            cursor: pointer;
                            >span{
                                width: 40px;
                                height: 40px;
                                overflow: hidden;
                                position: relative;
                                background-position: center;
                                background-size: contain;
                                display: flex;
                                margin: 0 auto;
                                background-repeat: no-repeat;
                            }
                            &:hover{
                                background-color: #6c89f4;
                                
                            }
                            &.friends{
                                >span{
                                    background-image: url(icons/friends.svg);
                                }
                            }
                            &.friends:hover{
                                >span{
                                    background-image: url(icons/friends-white.svg);
                                }
                            }
                            &.inbox{
                                >span{
                                    background-image: url(icons/inbox-gray.svg);
                                }
                            }
                            &.inbox:hover{
                                >span{
                                    background-image: url(icons/inbox-white.svg);    
                                }
                            }

                        }
                    }
                }
                &:nth-child(2){
                    background-color: #fff;
                    flex: 3;
                    box-shadow: 5px 0px 0.5em rgba(0, 0, 0, 0.1);
                    position: relative;
                    >div{
                        .listHeader{
                            padding: 20px;
                            h2{
                                font-weight: bold;
                            }
                            .searchbar{
                                >div{
                                    position: relative;
                                    input{
                                        width: 100%;
                                        background-color: transparent;
                                        outline: none;
                                        box-shadow: 0 0 0.5em #ddd;
                                        border-radius: 10px;
                                        &:focus{
                                            &::placeholder{
                                                background-image: unset;
                                                padding-left: 5px;
                                            }
                                        }
                                    }
                                    input::placeholder{
                                        color:#ccc;
                                        padding-left: 30px;
                                        background-image: url(./icons/search-interface-symbol.svg);
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                    }
                                    
                                }
                            }
                        }
                        .userList{
                            padding: 20px 0;
                            height: 75vh;
                            overflow-x: auto;
                            /* width */
                            &::-webkit-scrollbar {
                                width: 10px;
                            }
                            
                            /* Track */
                            &::-webkit-scrollbar-track {
                                background: #f1f1f1; 
                            }
                            
                            /* Handle */
                            &::-webkit-scrollbar-thumb {
                                background: #888; 
                            }
                            
                            /* Handle on hover */
                            &::-webkit-scrollbar-thumb:hover {
                                background: #555; 
                            }
                            >div{
                                &.singlelist{
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;
                                    padding: 20px;
                                    position: relative;
                                    >div{
                                        h4{
                                            color: #333;
                                        }
                                        h5{
                                            color: #555;
                                        }
                                        p{
                                            color: #777;
                                        }
                                    }
                                    .clickable{
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                &.active,
                                &:hover{
                                    background-color: #eff2fa;
                                }

                                &:first-child{
                                    >div{
                                        flex: 1;
                                        &:first-child{
                                            flex: 2;
                                            >div{
                                                background-repeat: no-repeat;
                                                background-size: contain;
                                                height: 70px;
                                                border-radius: 100px;
                                                width: 70px;
                                                margin: 0 auto;
                                                margin-right: 7px;
                                                background-image: url(./icons/user-group-img.svg);
                                                background-position: center;
                                            }
                                        }
                                        &:nth-child(2){
                                            flex: 5;
                                            h4{
                                                margin: 0;
                                                line-height: 20px;
                                                font-size: 18px;
                                                font-weight: 500;
                                            }
                                            h5{
                                                margin: 0;
                                                opacity: 0.6;
                                                text-transform: capitalize;
                                            }
                                            p{
                                                margin: 0;
                                                opacity: 0.8;
                                            }
                                        }
                                        &:last-child{
                                            flex: 1;
                                        }
                                    }
                                }
                                &:not(:first-child)>div{
                                    flex: 1;
                                    &:first-child{
                                        flex: 2;
                                        >div{
                                            background-image: url(./icons/demo-pic36.jpg);
                                            background-repeat: no-repeat;
                                            background-size: contain;
                                            height: 70px;
                                            border-radius: 100px;
                                            width: 70px;
                                            margin: 0 auto;
                                            margin-right: 7px;
                                            position: relative;
                                            .userPresentStatus{
                                                width: 10px;
                                                height: 10px;
                                                border-radius: 100px;
                                                background-color: #00FF00;
                                                position: absolute;
                                                top: 53px;
                                                left: 53px;
                                                &.offline{
                                                    background-color: lightgray;
                                                }
                                            }
                                            .readNotification{
                                                background-color: #a00202;
                                                border-radius: 200px;
                                                color: white;
                                                width: 20px;
                                                display: block;
                                                height: 20px;
                                                line-height: 19px;
                                                text-align: center;
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                    &:nth-child(2){
                                        flex: 5;
                                        h4{
                                            margin: 0;
                                            line-height: 20px;
                                            font-size: 18px;
                                            font-weight: 500;
                                            text-transform: capitalize;
                                        }
                                        h5{
                                            margin: 0;
                                            opacity: 0.6;
                                            text-transform: capitalize;
                                        }
                                        p{
                                            margin: 0;
                                            opacity: 0.8;
                                        }
                                    }
                                    &:last-child{
                                        flex: 1;
                                    }
                                }
                            }
                        }
                        
                    }
                }
                &:last-child{
                    flex: 10;
                    background-color: #f6f6fc;
                    position: relative;
                    .topHeader{
                        display: flex;
                        background-color: white;
                        padding: 10px 40px;
                        position: relative;
                        >div{
                            &.clospe{
                                flex: 1;
                                max-width: 50px;
                                left: 0;
                                margin-left: -20px;
                                span{
                                    &.collspeBtn{
                                        display: block;
                                        width: 30px;
                                        height: 100%;
                                        background-image: url(./icons/left-arrow.svg);
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        background-size: contain;
                                        cursor: pointer;
                                        opacity: 0.2;
                                        &:hover{
                                            opacity: 0.5;
                                        }
                                    }
                                }
                            }
                            &.profiInfo{
                                flex: 6;
                                display: inline-flex;
                                >div{
                                    h5{
                                        margin: 0;
                                        font-size: 18px;
                                        font-weight: 600;
                                        text-transform: capitalize;
                                    }
                                    p{
                                        margin: 0;
                                        font-size: 14px;
                                        color: #999;
                                    }
                                    &:first-child{
                                        width: 50px;
                                        height: 50px;
                                        border-radius: 500px;
                                        background-image: url(./icons/demo-pic36.jpg);
                                        background-size: contain;
                                        background-position: center;
                                        margin-right: 15px;
                                        background-repeat: no-repeat;
                                    }
                                }
                            }
                            &:last-child{
                                flex: 2;
                                height: 50px;
                                display: flex;
                                align-items: center;
                                .closeBtn{
                                    width: 30px;
                                    height: 30px;
                                    display: block;
                                    margin-left: auto;
                                    background-image: url(./icons/cancel.svg);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    opacity: 0.3;
                                    cursor: pointer;
                                    &:hover{
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                    }
                    .chatbodyLists{
                        .chatLists{
                            padding: 25px 35px;
                            max-height: 78vh;
                            overflow-y: auto;
                            
                            /* width */
                            &::-webkit-scrollbar {
                                width: 10px;
                            }
                            
                            /* Track */
                            &::-webkit-scrollbar-track {
                                background: #f1f1f1; 
                            }
                            
                            /* Handle */
                            &::-webkit-scrollbar-thumb {
                                background: #888; 
                            }
                            
                            /* Handle on hover */
                            &::-webkit-scrollbar-thumb:hover {
                                background: #555; 
                            }
                            ul{
                                margin: 0;
                                list-style: none;
                                li{
                                    display: grid;
                                    margin: 15px 10px;
                                    align-items: center;
                                    span{
                                        display: flex;
                                        align-items: center;
                                        &.date{
                                            position: relative;
                                            width: 100%;
                                            display: flex;
                                            justify-content: center;
                                            >span{
                                                background-color: #6a87f447;
                                                padding: 2px 10px;
                                                border-radius: 20px;
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                    .deleteOption{
                                        margin-right: 10px;
                                        display: none;
                                        .deleteThis{
                                            display: block;
                                            width: 15px;
                                            height: 15px;
                                            position: relative;
                                            background-image: url(./icons/delete.svg);
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            cursor: pointer;
                                            opacity: 0.7;
                                            &:hover{
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    &:hover{
                                       .deleteOption{
                                           display: block;
                                       } 
                                    }
                                    img{
                                        max-width: 200px;
                                        min-width: 20px;
                                    }
                                    a{
                                        span{
                                            &.attachmentWrap{
                                                display: flex;
                                                align-items: center;
                                                background-color: #6a87f4;
                                                padding: 7px 20px;
                                                border-radius: 25px 25px 0px 25px;
                                                color: white;
                                                img{
                                                    max-width: 50px;
                                                    margin-right: 10px;
                                                    width: 20px;
                                                    opacity: 0.5;
                                                }
                                                span{
                                                    white-space: nowrap;
                                                }
                                            }
                                        }
                                    }
                                    &.thisuser{
                                        >span{
                                            &.msgBody{
                                                justify-content: flex-end;
                                                >span{
                                                    &.msg{
                                                        background-color: #6a87f4;
                                                        padding: 7px 20px;
                                                        border-radius: 25px 25px 0px 25px;
                                                        color: white;
                                                        display: block;
                                                        >span{
                                                            &.msgDate{
                                                                display: block;
                                                                color: #ccc;
                                                                text-align: right;
                                                                font-size: 12px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.fromanother{
                                        >span{
                                            &.msgBody{
                                                >span{
                                                    &.msg{
                                                        background-color: white;
                                                        padding: 7px 20px;
                                                        border-radius: 25px 25px 25px 0px;
                                                        display: block;
                                                        >span{
                                                            color: #333;
                                                            &.msgDate{
                                                                display: block;
                                                                color: #999;
                                                                text-align: right;
                                                                font-size: 12px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    >span{
                                        &.msgBody{
                                            .userimg{
                                                width: 25px;
                                                height: 25px;
                                                min-width: 25px;
                                                background-size: contain;
                                                background-position: center;
                                                margin-right: 8px;
                                                background-repeat: no-repeat;
                                                border-radius: 100px;
                                                span{
                                                    &.userPresentStatus{
                                                        width: 5px;
                                                        height: 5px;
                                                        display: block;
                                                        
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .chatForm{
                        position: absolute;
                        bottom: 0;
                        padding: 20px 50px;
                        width: 100%;
                        >div{
                            box-shadow: 1px 1px 3px #ddd;
                            >form{
                                display: flex;
                                background-color: white;
                                align-items: center;
                                >div{
                                    flex: 1;
                                    display: flex;
                                    justify-content: center;
                                    &:first-child{
                                        display: inline-flex;
                                        padding: 10px;
                                        max-width: 65px;
                                        >span{
                                            background-repeat: no-repeat;
                                            width: 26px;
                                            height: 26px;
                                            display: block;
                                            background-size: contain;
                                            margin: 5px;
                                            cursor: pointer;
                                            &.imoji{
                                                background-image: url(./icons/grinning.svg);
                                            } 
                                        }
                                        .fileUPloadInput{
                                            display: none;
                                        }
                                        >label{
                                            >span{
                                                background-repeat: no-repeat;
                                                width: 26px;
                                                height: 26px;
                                                display: block;
                                                background-size: contain;
                                                margin: 5px;
                                                cursor: pointer;
                                                &.imgUpload{
                                                    background-image: url(./icons/insert-picture-icon.svg);
                                                }
                                            }
                                        }
                                    
                                    }
                                    &:nth-child(2){
                                        flex: 12;
                                        input{
                                            background-color:transparent;
                                            box-shadow: none;
                                            width: 100%;
                                            &:focus{
                                                outline: none;
                                            }
                                        }
                                    }
                                    &:last-child{
                                        >button{
                                            background-color: transparent;
                                            border-width: 0;
                                            >span{
                                                &.sendBtn{
                                                    background-image: url(./icons/send-button.svg);
                                                    width: 30px;
                                                    height: 30px;
                                                    display: block;
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    cursor: pointer;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 1024px) {
    .chatWrap{
        .chatWindow{
            .chatBody{
                >div{
                    &.listWrap{
                        flex: 4;
                    }
                }
            }
        }
    }  
}


@media only screen and (max-width: 768px) {
    .chatWrap{
        .chatWindow{
            .chatBody{
                >div{
                    &.listWrap{
                        flex: 7;
                    }
                }
            }
        }
    }  
}


@media only screen and (max-width: 411px) {
    .chatWrap{
        .chatWindow{
            .chatBody{
                >div{
                    &.bodyWrap{
                        max-width: 50px;
                    }
                }
                &.collospe{
                    >div{
                        &.listWrap{
                            flex: 7;
                        }
                        &.bodyWrap{
                            max-width: unset;
                        }
                    }
                }
            }
        }
    }  
}